@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #030712;
  color: white;
}

#root {
  height: 100%;
}
